/* selectors
.card article img
.card footer
.card header
.card
*/


/* || General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}


/* || Card container specific styles */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5rem;
}


/* || Header and footer specific styles */

.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5rem 1.5rem 0 0;
}

.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5rem 1.5rem;
}

.card header, .card footer {
  box-sizing: border-box;
  height: 5em;
  padding: 1em;
}



/* || Main content specific styles */

.card article img {
  max-height: 100%;
  float: right;
}

.card h2, .card p {
  margin: 0;
}

.card article {
  height: 12em;
  background-color: rgba(0, 0, 0, 0.25);
}

.card h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
}

.card footer p {
  font-size: 1.5em;
  line-height: 1.75em;
  font-weight: 500;
}

.card article p {
  padding: 1em;
  color: white;
  line-height: 1.3em;
}

